<h1>My portfolio</h1>


<div class="cards">
  
  <div class="services">
     <div class="content content-1">
        <div class="image1"><img src="assets/images/Angular.png" alt=""></div>
        
        <p>
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita ullam aliquid non eligendi, nemo est neque reiciendis error?
        </p>
        <a href="#">My angular project</a>
     </div>
     <div class="content content-2">
        <div class="image2"><img src="assets/images/javascript-logo.png" alt=""></div>
        
        <p>
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita ullam aliquid non eligendi, nemo est neque reiciendis error?
        </p>
        <a href="#">My Javascript project</a>
     </div>
     <div class="content content-3">
        <div class="image3"><img src="assets/images/vue.png" alt=""></div>
        
        <p>
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita ullam aliquid non eligendi, nemo est neque reiciendis error?
        </p>
        <a href="#">My Vue project</a>
     </div>
  </div>
</div>
