<div class="header">
  <div class="wrapper">
    <div class="box">
      <i class="fas fa-quote-left quote"></i>
      <h3>Hi, Im Tess,</h3>
      <p>A multifunctional designer/developer based in Västerås, Sweden — a traditionally trained designer who loves to code.</p>
      <p>There’s no style over substance here. I bring together form and the function to create something that looks good and performs brilliantly. Simple.</p>
      <p>Looking forward to work with you.</p>
      <div class="content">
        <div class="info">
          <div class="name">Therese Lidbom</div>
          <div class="job">Designer | Developer</div>
        </div>
        <div class="image">
          <img src="assets/images/me1.JPG" alt="">
        </div>
      </div>
    </div>


  <div class="skill-bars">
    <div class="bar">
      <div class="info">
        <span>Visual Studio Code</span>
      </div>
      <div class="progress-line vsc">
        <span></span>
      </div>
    </div>
    <div class="bar">
      <div class="info">
        <span>Adobe XD</span>
      </div>
      <div class="progress-line adobexd">
        <span></span>
      </div>
    </div>
    <div class="bar">
      <div class="info">
        <span>Indesign</span>
      </div>
      <div class="progress-line Indesign">
        <span></span>
      </div>
    </div>
    <div class="bar">
      <div class="info">
        <span>Photoshop</span>
      </div>
      <div class="progress-line photoshop">
        <span></span>
      </div>
    </div>
  </div>
</div>